#banner {
    width: 100%;
    height: 200px;
    position: relative;
}

.pic-layer {
    background: url(../images/banner.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 200px;
    z-index: 1;
    position: absolute;
}

.black-layer {
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 200px;
    z-index: 2;
    position: absolute;
    display: flex;
}

.banner-text {
    color: white;
    margin: auto;
    text-align: center;
    font-size: 27px;
    padding: 0px 40px;
}

#categories-buttons {
    height: fit-content;
    background: rgb(245, 245, 245);
    display: flex;
    /*flex-wrap: wrap;*/
}

a.categ-btn {
    text-decoration: none;
    color: dimgray;
    flex: 1 0 10%;
    text-align: center;
    padding: 10px;
}

a.categ-btn.chosen {
    color: rgb(152, 76, 149);
    border-bottom: 2px solid rgb(152, 76, 149);
    ;
}


@media screen and (max-width: 908px) {
a.categ-btn {
    flex: 1 0 50%;
    min-width: 100px;
}
#categories-buttons{
    flex-wrap: wrap;
}
}
@media screen and (max-width: 470px) {
a.categ-btn {
    flex: 1 0 100%;
    min-width: 100px;
}

}




#products {
    padding: 30px 0px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.prod-img {
    width: 200px;
    height: 200px;
    object-fit: cover;
}

a.product-item {
    margin: 20px;
    text-decoration: none;
}

p.center {
    text-align: center;
    color: black;
}

.small-text {
    font-size: 10px;
}