.flex-row {
    display: flex;
    width: 100%;
    margin: 0;	
	.list{
		list-style: none;
		display: flex;;
		align-items: center;
		flex-wrap: wrap;
		padding: 0;
	}
	.space-around {
		justify-content: space-around;
	}
    .vertical-center {
		align-items: center;
    }
    .reverse {
        flex-direction: row-reverse;
    }
}
.col-1-of-2 {
	width: 50%;
}
<<<<<<< HEAD
.col-1-of-3 {
	width: 33%;
=======
.col-1-of-2 {
	width: 75%;
>>>>>>> 3de03de5dbb3d2a578f8c7ef233b07138f45d6cc
}
.col-9-of-12 {
	width: 75%;
}
.flex-row.high {
	height: 100%;
}
<<<<<<< HEAD
.margin-1-em {
	margin: 1em;
}
=======
>>>>>>> 3de03de5dbb3d2a578f8c7ef233b07138f45d6cc
.row-100 {
	width: 100%;
}
.overflow-hidden {
	overflow: hidden;
<<<<<<< HEAD
}
.high {
	height: 500px;
=======
>>>>>>> 3de03de5dbb3d2a578f8c7ef233b07138f45d6cc
}