//@import 'grid';
header {
    width:100%;
    border-top: 1px solid rgb(235,235,235);
    border-bottom: 1px solid rgb(235,235,235);
}
#nav li{
    display: inline;
    padding: 0 20px;
}
#nav {
    text-align: center;
}
a {
    text-decoration: none;
    color: black;
    &:hover {
        color: #525252;        
    }
}

