@import 'header';
<<<<<<< HEAD
@import 'helpers';

=======
>>>>>>> 3de03de5dbb3d2a578f8c7ef233b07138f45d6cc
body {
    margin:0;
    padding: 0;
    font-family: 'Proxima Nova', Helvetica, Sans-Serif;

}
<<<<<<< HEAD
.center {
    height: 100%;
}
=======
>>>>>>> 3de03de5dbb3d2a578f8c7ef233b07138f45d6cc
