/* Reset */

body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td {
    margin: 0;
    padding: 0;
}


fieldset,
img {
    border: 0;
}



li {
    list-style: none;
}

caption,
th {
    text-align: left;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 100%;
    font-weight: normal;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    background: #000;
    font-family: "Helvetica Neue", Helvetica, Arial;
}



.logo_box {
    width: 349px;
    float: left;
    border-right: 1px solid #303030;
    height: 280px;
    position: relative;
}

h1 {
    padding: 12px 70px 12px 20px;
    position: absolute;
    right: 0;
    text-align: left;
    top: 25%;
    float: left;
    color: #fff;
    letter-spacing: -1px;
    font-size: 38px;
}

h1 cufon {
    margin-bottom: -4px;
}

h3 {
    font-size: 24px;
    color: #333;
    float: left;
    margin-right: 15px;
    padding-top: 5px;
}

.main_box {
    float: left;
    width: 500px;
    height: 95px;
    padding: 25px;
}

form {
    width: 590px;
    padding: 10px 0;
    float: left;
    background: url(../images/dots.gif) right top repeat-y;
    height: 80px;
}

h2 {
    font-family: Georgia;
    color: #ffe400;
    font-size: 24px;
    margin-bottom: 20px;
}

h2 span {
    color: #fff;
    font-size: 16px;
    line-height: 26px;
    font-style: italic;
}
a {
    text-decoration: none;
    color: white;
}

#logow {
    height: 200px;
    float: right;
    margin-right: 10px;
}


/*video*/

.is_overlay {
    display: block;
    width: 100%;
    height: 100%;
}

#trailer {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
}

#trailer> video {
    opacity: 0.18;
   	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}


 @media (min-aspect-ratio: 16/9) {
     #trailer > video { height: 300%; top: -100%; }
 }
 @media (max-aspect-ratio: 16/9) {
     #trailer > video { width: 300%; left: -100%; }
 }



body{
    display: flex;
}
.flex{
    display: flex;
}
.m-auto{
    margin: auto;
}
.main_box{
    height:  min-content;
}
.min-w-500{
    width: 500px;
}