section#sec1
    //-img(src="img/1.jpg").full-width-img
    #slider
        //-img(src="img/1.jpg" alt="Minimum required attributes")
        
        //-img(data-src="img/2.jpg" src="" alt="Use data-src for on-demand loading")
        //-<a href="http://example.com"><img data-src="img/4.jpg" src="" alt="Links work too"></a>
    
    
    //- script(type='text/javascript').
    //-     var slider = new IdealImageSlider.Slider({
    //-         selector: '#slider',
    //-         height: 600,
    //-         transitionDuration: 900,
    //-         effect: 'slide',
    //-         interval: 4000
    //-     });
    //-     slider.start();