doctype html
html(lang="en")
  head
    link(rel='stylesheet', href='styles/style.css')
     
  body
    .flex-row
      header.row-100
        h3.title
          |doctor vape
<<<<<<< HEAD
    .flex-row.center.helper1
      .col-1-of-3.helper2.high
      .col-1-of-3.helper3.high
      .col-1-of-3.helper2.high
      
=======
        
>>>>>>> 3de03de5dbb3d2a578f8c7ef233b07138f45d6cc
    
    