doctype html
html(lang="en")
  head
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    //-link(rel="stylesheet" href="image-slider/ideal-image-slider.css")
    //-link(rel="stylesheet" href="image-slider/themes/default/default.css")
    
    link(rel='stylesheet', href='styles/normalize.css')    
    link(rel='stylesheet', href='styles/style.css')
     
  body
      include components/header.pug
      //-script(src="image-slider/ideal-image-slider.js")
      include components/section1.pug
      