doctype html
html(lang="en")
  head
    // Animate.css
    link(rel='stylesheet', href='css/animate.css')
    meta(name="viewport",content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
    // Icomoon Icon Fonts
    link(rel='stylesheet', href='css/icomoon.css')
    // Bootstrap
    link(rel='stylesheet', href='css/bootstrap.css')
    // Flexslider
    link(rel='stylesheet', href='css/flexslider.css')
    // Owl Carousel
    link(rel='stylesheet', href='css/owl.carousel.min.css')
    link(rel='stylesheet', href='css/custom-styles.css')

    link(rel='stylesheet', href='css/owl.theme.default.min.css')
    // Theme style
    link(rel='stylesheet', href='css/style.css')
    // Modernizr JS
    script(src='js/modernizr-2.6.2.min.js')
    // FOR IE9 below
    //if lt IE 9
      script(src='js/respond.min.js')
    // jQuery
    script(src='js/jquery.min.js')

  body
    #black-back.animated.fadeIn(onClick="closeDialog()")
    #dialog.animated.fadeInDown
      img(src="images/icons/close.svg" onClick="closeDialog()").sm-cl
      h3.product-name Vaporizer Device Ultra 4000
      hr
      .flex-row
        .col-50.pad-20
          img(src="images/good1.jpg").product
        .col-50.pad-20
          p Характеристика 1
          p Характеристика 2
          p Никотин: 3мл/6мл/9мл
      .flex-row.close-container
        img(src="images/icons/close.svg" onClick="closeDialog()").big-cl
    #fh5co-page
      header#fh5co-header(role='banner')
        .fl-div
        .container
          .header-inner
            .logo
              img(src='images/logo2.png')
            nav(role='navigation')
              ul
                li
                  a.nav-links(href='#fh5co-why-us') Наши преимущества
                li
                  a.nav-links(href='#fh5co-work-section') Последние поступления
                li
                  a.nav-links(href='#fh5co-section-with-image') О нас
                li
                  a.nav-links(href='#fh5co-maps-section') Контакты

      section#banner
        .pic-layer
        .black-layer
          p.banner-text Vaporizer Devices. The most useful overview to the best vaporizer devices. Explore our full range of mechanical mods with variable voltage or batteries.
      section#categories-buttons
        a.categ-btn(href="#") RDA 
        a.categ-btn.chosen(href="#") Жидкости 
        a.categ-btn(href="#") Аккумуляторы 
        a.categ-btn(href="#") RDA 
        a.categ-btn.chosen(href="#") Жидкости 
        a.categ-btn(href="#") Аккумуляторы 
        
      #fh5co-work-section
        .col-md-4.animate-box
          a.item-grid.text-center(href='#' onClick="openDialog()")
            .image(style='background-image: url(images/good1.jpg)')
            .v-align
              .v-align-middle
                h3.title GeekVape Tsunami 24 RDA
                h5.category Стальной/белый/синий
        .col-md-4.animate-box
          a.item-grid.text-center(href='#' onClick="openDialog()")
            .image(style='background-image: url(images/good2.jpg)')
            .v-align
              .v-align-middle
                h3.title Petri v2.0
                h5.category Красный/белый
        .col-md-4.animate-box
          a.item-grid.text-center(href='#' onClick="openDialog()")
            .image(style='background-image: url(images/good3.jpg)')
            .v-align
              .v-align-middle
                h3.title El Cabron RDA
                h5.category Стальной. Черный/красный/белый
        .col-md-4.animate-box
          a.item-grid.text-center(href='#')
            .image(style='background-image: url(images/good4.jpg)')
            .v-align
              .v-align-middle
                h3.title Wotofo Sapor RDA
                h5.category Матовый черный
        .col-md-4.animate-box
          a.item-grid.text-center(href='#')
            .image(style='background-image: url(images/good5.jpg)')
            .v-align
              .v-align-middle
                h3.title  Mad Hatter
                h5.category Черный/экслюзивный красный
        .col-md-4.animate-box
          a.item-grid.text-center(href='#')
            .image(style='background-image: url(images/good6.jpg)')
            .v-align
              .v-align-middle
                h3.title Tobh Atty v2
                h5.category Кофейный/бежевый
      script.
        $(".categ-btn").bind("click", function(){
          $(".categ-btn").removeClass("chosen");
          $(this).addClass("chosen");
        });

        function closeDialog(){
          $("#dialog").removeClass("fadeInDown");
          $("#dialog").addClass("fadeOutDown");
          $("#black-back").removeClass("fadeIn");
          $("#black-back").addClass("fadeOut");
          setTimeout(function(){
            $("#black-back").css("z-index",-10);
            $("#dialog").css("z-index",-10); 
          }, 600);                   
        }
        function openDialog(){
          $("#black-back").css("z-index",10);
          $("#dialog").css("z-index",11); 
          $("#dialog").addClass("fadeInDown");
          $("#dialog").removeClass("fadeOutDown");
          $("#black-back").addClass("fadeIn");
          $("#black-back").removeClass("fadeOut");
        }

  //

  // jQuery Easing
  script(src='js/jquery.easing.1.3.js')
  // Bootstrap
  script(src='js/bootstrap.min.js')
  // Waypoints
  script(src='js/jquery.waypoints.min.js')
  // Owl Carousel
  script(src='js/owl.carousel.min.js')
  // Flexslider
  script(src='js/jquery.flexslider-min.js')
  // MAIN JS
  script(src='js/main.js')